### ETL Project Take 27

In [6]:
#import dependencies
import os
import pandas as pd
import numpy as np
import requests
import json
from api_keys import weather_api_key

In [11]:
# Import global pollution data
pollution_data_path = os.path.join("data", "PM2.5 Global Air Pollution 2010-2017.csv")
pollution_data = pd.read_csv(pollution_data_path)

code_conversion_path = os.path.join("data", "wikipedia-iso-country-codes.csv")
code_conversion = pd.read_csv(code_conversion_path)

In [12]:
pollution_data.head()

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,AFG,65.245592,66.835727,66.023174,61.366745,59.010330,61.252656,56.287047,56.910808
1,Angola,AGO,33.787247,33.104195,33.415495,34.663923,32.974025,32.729873,31.785389,32.388505
2,Albania,ALB,21.277828,22.772537,20.578259,19.938517,18.883955,19.512540,18.189934,18.200603
3,Andorra,AND,12.807198,13.273506,12.407053,11.813673,10.830418,11.462178,10.255834,10.307621
4,Arab World,ARB,53.787001,52.652279,53.297270,54.053822,52.583603,60.406813,58.764905,58.689259

In [13]:
code_conversion.head()

,English short name lower case,Alpha-2 code,Alpha-3 code,Numeric code,ISO 3166-2
0,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW
1,Zambia,ZM,ZMB,894,ISO 3166-2:ZM
2,Yemen,YE,YEM,887,ISO 3166-2:YE
3,Western Sahara,EH,ESH,732,ISO 3166-2:EH
4,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF

In [ ]:
pollution_data_merged = pd.merge(pollution_data, code_conversion, )

In [ ]:
# Build base URL for API call
weather_response = []
base_url = "http://api.openweathermap.org/data/2.5/weather?" + "appid=" + weather_api_key + "&units=imperial" + "&q="
counter = 0

#create lists empty lists to hold desired data
temp_max = []
humidity = []
clouds = []
wind_speed = []
date = []
country = []

# API call loop
for citi in cities:
    query_url = base_url + citi
    try:
        response = requests.get(query_url).json()
        temp_max.append(response["main"]["temp_max"])
        humidity.append(response["main"]["humidity"])
        clouds.append(response["clouds"]["all"])
        wind_speed.append(response["wind"]["speed"])
        country.append(response["sys"]["country"])
        date.append(response["dt"])
        print(f"Processing Record | {citi}")
    except:
        print(f"City not found | {citi}")
print("** API call complete **")